body {
	text-align: center;
	background-color: #000000;
	margin: 0;
	color: #ffffff;
}

body a {
	color: red;
}

div {
	margin: 0;
}

.button-contaner {
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}

.lesson:nth-of-type(odd) {
	background: #cccccc;
}

.lesson:nth-of-type(even) {
	background: #e0e0e0;
}

.exercise:nth-of-type(odd) {
	background-color: red;
}

.exercise:nth-of-type(even) {
	background-color: yellow;
	color: black;
}