body {
	text-align: center;
	background-color: #000000;
	margin: 0;
	color: #ffffff;
}

.header a {
	color: green;
}

.js-test-zone {
	
}

.header a:HOVER {
	color: aqua;
}

div {
	margin: 0;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.exercise-link {
	color: white;
	background-color: black;
	padding: 0.5%;
}

.exercise-link:hover {
	color: black;
	background-color: white;
	padding: 0.5%;
}

link-div-contaner {
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}

.lesson:nth-of-type(odd) {
	background: #cccccc;
}

.lesson:nth-of-type(even) {
	background: #e0e0e0;
}

.exercise:nth-of-type(odd) {
	background-color: red;
}

.exercise:nth-of-type(even) {
	background-color: yellow;
	color: black;
}